@import "tailwindcss";
:root {
  --naranjado: #d15113;
  --verde: #4a4b2f;
  --beige: #e7ddd2;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--beige);
}

.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--beige);
}

/* Sidebar fija */
/* .admin-layout nav {
  flex-shrink: 0;
  width: 250px;
} */
.sidebar {
  width: 250px;
  background-color: var(--verde);
  color: white;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; /* ❌ No uses fixed */
  z-index: 2; /* Se mantiene encima si hay overlays */
}

/* Área principal */
.admin-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  background-color: var(--beige);
}