@import "tailwindcss";
:root {
  --naranjado: #d15113;
  --verde: #4a4b2f;
  --beige: #e7ddd2;
  --blanco: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--beige);
}
